{% extends 'base.html' %}

{% block title %}
    <title>CHATBoX</title>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function(){
        $(".friends").each(function() {
            $(this).click(function(e) {
                var user_id = $(this).attr('data-href');
                window.location.href = "/dashboard/" + user_id + "/"
            })
        })

        $("#global").each(function() {
            $(this).click(function(e) {
                window.location.href = "/dashboard/global/"
            })
        })

        $("#scroll").animate({ scrollTop: $('#scroll')[0].scrollHeight}, 1000);

        const webSocketBridge = new channels.WebSocketBridge();
        webSocketBridge.connect('/ws/');
        webSocketBridge.listen(function(action, stream) {
            if (action.is_typing) {
                friend = document.getElementById("textbox").getAttribute("friend-name")
                if (action.user_name == friend) {
                    var content = "<small>" + action.user_name + " is typing...</small>"
                    $("#istyping").html(content);
                    $("#istyping").removeClass("hidden");
                    window.setTimeout(function(){
                        $("#istyping").addClass("hidden");
                    }, 5000)
                }
                else {
                    null
                }
            }
            else {
                $("#istyping").addClass("hidden");
                var content = "<div class='message'><div class='message__head'><span class='message__note'></span><span id='user_firstname' class='message__note'>" + action.user_name + "</span><span class='message__note' style='float:right'>" + action.created_at + "</span></div><div class='message__base'><div class='message__avatar avatar'><a id='user_initial' class='avatar__wrap'>" + action.user_initial + "</a></div><div class='message__textbox'><span id='user_msg' class='message__text'>" + action.message +  "</span></div></div></div>"
                $("#msg_content").append(content);
                $("#scroll").animate({ scrollTop: $('#scroll')[0].scrollHeight}, 1000);
                loggedin_user = document.getElementById("textbox").getAttribute("user-name") 
                if (action.user_name == loggedin_user) {
                    null
                }
                else {
                    if (Notification) {
                        if (Notification.permission !== "granted") {
                            Notification.requestPermission(function(permission) {
                                if(permission === "granted") {
                                    var notification = new Notification(action.user_name, {
                                        // icon: 'http://cdn.sstatic.net/stackexchange/img/logos/so/so-icon.png',
                                        body: action.message,
                                    });
                                }
                            });
                        }

                        if (Notification.permission === "granted") {
                            var notification = new Notification(action.user_name, {
                                // icon: 'http://cdn.sstatic.net/stackexchange/img/logos/so/so-icon.png',
                                body: action.message,
                            });
                        }
                    }
                }
            }


        })
        webSocketBridge.socket.addEventListener('open', function() {
            console.log("Connected to WebSocket");
        })

        webSocketBridge.socket.addEventListener('close', function() {
            console.log("Disonnected from WebSocket");
        })

        $("#textbox").each(function() {
            $(this).keypress(function(e) {
                if (e.keyCode === 13) {
                    e.preventDefault();
                    user_name = document.getElementById("textbox").getAttribute("user-name")
                    user_initial = document.getElementById("textbox").getAttribute("user-initial")
                    user_id = document.getElementById("textbox").getAttribute("friend-id")

                    var d = new Date();
                    var month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                    var date = month[d.getMonth()] + " " + d.getDate() + ", " + d.getFullYear();
                    var time = d.toLocaleString('en-US', { hour: 'numeric',minute:'numeric', hour12: true });
                    var created_at = date + ", " + time;

                    var msg = document.getElementById("textbox").value
                    document.getElementById("textbox").value = '';
                    if (msg != "") {
                        friend_name = document.getElementById("textbox").getAttribute("friend-name")

                        webSocketBridge.send({"user_name": user_name, "friend_name": friend_name, "user_initial": user_initial, "message": msg, "created_at": created_at});

                        var url = "/dashboard/msg_sent/";
                        $.ajax({
                            url: url,
                            type: 'GET',
                            traditional: true,
                            data: {"user_name": user_name, "user_id": user_id, "user_initial": user_initial, "message": msg},
                            success: function(response){
                                response = JSON.parse(response)
                                if (response.status) {
                                    // $("#main_head").html(response.data[0].toUpperCase())
                                    // $("#main_title").html(response.data[1].toUpperCase())
                                }
                            }
                        })
                    }
                }
                else {
                    friend_name = document.getElementById("textbox").getAttribute("friend-name")
                    user_name = document.getElementById("textbox").getAttribute("user-name")
                    webSocketBridge.send({'is_typing': 'True', 'user_name': user_name, 'friend_name': friend_name});
                }
            })
        })
        $("#coming_soon").each(function() {
            $(this).click(function(e) {
                alert("Coming Soon...")
            })
        })
    }); 
</script>
{% endblock %}


{% block body %}
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">The CHATBoX</a>
                </div>
                <ul style="float:right" class="nav navbar-nav">
                    <a class="navbar-brand" href="/logout/"><small>Logout</small></a>
                </ul>
            </div>
        </nav>
        <div>
            <div class="modal__dialog">
                <div class="modal__content chat">
                <div class="modal__sidebar">
                    <div class="chat__search search">
                    <div class="search">
                        <div class="search__icon">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        </div>
                        <input type="search" class="search__input" placeholder="Search">
                        <div class="search__icon search__icon_right">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </div>
                    </div>
                    </div>
                        <!--<div class="chat__users">
                        <ul class="users">
                            <li id="global" class="users__item users__item_group">
                            <span id="user_avatar_name" class="users__note">Global Chat</span>
                            </li>
                        </ul>
                        </div>-->
                    {% for user in users %}
                        <div class="chat__users">
                        <ul class="users">
                            <li data-href="{{ user.id }}" class="friends users__item users__item_group">
                            <div class="users__avatar avatar">
                                <a id="user_avatar" class="avatar__wrap">
                                    {{ user.first_name|slice:':1'|title }}
                                </a>
                            </div>
                            <span id="user_avatar_name" class="users__note">{{ user.first_name|title }} {{ user.last_name }}</span>
                            <div class="users__counter">
                                <span class="counter">
                                    <!--display the number of unread messages here-->
                                </span>
                            </div>
                            </li>
                            <!--<li class="users__item">-->
                            <!--<div class="users__avatar avatar avatar_online">
                                <a href="#" class="avatar__wrap">
                                <img class="avatar__img" src="http://placehold.it/35x35" width="35" height="35" alt="avatar image">
                                </a>
                            </div>-->
                        </ul>
                        </div>
                    {% endfor %}
                </div>
                <div class="modal__main">
                    <div class="chatbox">
                        <div class="chatbox__row">
                            <div class="head">
                            <div class="head__avatar avatar avatar_larger">
                                <a id="main_head" href="#" class="avatar__wrap">
                                    {{ friend_top.first_name|slice:':1'|upper }}
                                </a>
                            </div>
                            <div id="main_title_name" class="head__title">{{ friend_top.first_name|upper }}</div>
                            </div>
                            <div id="main_title" class="head__title">{{ message.created_at }}</div>
                        </div>
                        <div id="scroll" class="chatbox__row chatbox__row_fullheight">
                            <div id="msg_content" class="chatbox__content">
                            {% for message in messages %}
                                <div class="message">
                                    <div class="message__head">
                                    <span class="message__note">{{ message.sender.first_name|title }}</span>
                                    <span class="message__note" style="float:right">{{ message.created_at }}</span>
                                    </div>
                                    <div class="message__base">
                                    <div class="message__avatar avatar">
                                        <a href="#" class="avatar__wrap">
                                            {{ message.sender.first_name|slice:':1'|title }}
                                        </a>
                                    </div>
                                    <div class="message__textbox">
                                        <span class="message__text">{{ message.message|safe }}</span>
                                    </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                        <div class="chatbox__row">
                            <div id="istyping" logger-name="{{ user.first_name|upper }}" class="hidden" style="margin-left:55px">

                            </div>
                            <div class="enter">
                                <!--<div class="enter__submit">
                                    <button class="button button_id_submit" type="submit">
                                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                    </button>
                                </div>-->
                                <div class="enter__textarea">
                                    <textarea id="textbox" my-id="{{ user.id }}" user-name="{{ user.first_name|upper }}" friend-id="{{ friend_top.id }}" friend-name="{{ friend_top.first_name|upper }}" user-initial="{{ user.first_name|slice:':1'|upper }}" name="enterMessage" cols="30" rows="2" placeholder="Say message..."></textarea>
                                </div>
                                <div class="enter__icons">
                                    <a id="coming_soon" class="enter__icon">
                                    <i class="fa fa-paperclip" aria-hidden="true"></i>
                                    </a>
                                    <a id="coming_soon" class="enter__icon">
                                    <i class="fa fa-smile-o" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
